StartMenu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	display: flex;
	flex-direction: column; /// Ёлементы располагаютс€ вертикально
	justify-content: center; /// ÷ентрирование по вертикали
	align-items: center; /// ÷ентрирование по горизонтали
	font-family: Poppins;
	pointer-events: all;

	.label-header {
		font-weight: bold;
		font-size: 80px;
		color: dodgerblue;
	}

	.button {
		font-size: 45px, medium;

		&:hover {
			cursor: pointer;
			font-size: 60px;
			color: dodgerblue;
		}
	}
}
