StartMenu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	display: flex;
	flex-direction: column; /// Элементы располагаются вертикально
	justify-content: center; /// Центрирование по вертикали
	align-items: center; /// Центрирование по горизонтали
	font-family: Poppins;
	pointer-events: all;

	.label-header {
		font-weight: bold;
		font-size: 80px;
		color: dodgerblue;
		margin-bottom: 12px;
	}

	.sub-header {
		font-weight: bold;
		font-size: 32px;
		color: dodgerblue;
		text-shadow: 2px 2px black;
		margin-bottom: 12px;
	}

	.button {
		font-size: 45px, medium;

		&:hover {
			cursor: pointer;
			font-size: 60px;
			color: dodgerblue;
		}
	}

	.image-list {
		display: flex;
		flex-direction: column; // Элементы списка идут сверху вниз
		gap: 20px; // Отступы между элементами списка
	}

	.image-item {
		display: flex;
		align-items: center; // Выравнивание по вертикали
		gap: 15px; // Отступ между изображением и текстом
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
		background-color: #f9f9f9;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			background-color: #e0e0e0;
		}

		.image-img {
			width: 256px;
			height: 256px;
			//object-fit: cover; // Чтобы изображение не искажалось
			border-radius: 5px;
		}

		.item-name {
			font-size: 45px, medium;
			color: #333;
		}
	}
}
