@using Sandbox;
@using Sandbox.UI;
@using System;
@namespace Sandbox

<root class="checkbox" onclick="@ToggleCheckbox">
	<div class="label">@Label</div>
	<div class="box">
		@if (IsChecked)
		{
			<div class="inner-box"></div>
		}
	</div>
</root>

@code
{
	public string Label { get; set; } = "Checkbox";
	public bool IsChecked { get; private set; } = false;

	protected override int BuildHash() => System.HashCode.Combine(IsChecked);

	[Property] public Action<bool> OnToggled { get; set; }

	private void ToggleCheckbox()
	{
		IsChecked = !IsChecked;

		OnToggled?.Invoke(IsChecked);
	}
}
