@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="main">
		<div class="header">BHOP</div>
		<div class="menu">
			<div class="button" onclick="@ClickStart">Start</div>
			<div class="button" onclick="@ClickSettings">Settings</div>
			<div class="button" onclick="@ClickExit">Exit</div>
		</div>
	</div>
</root>

@code
{

	[Property, TextArea] public string MyStringValue { get; set; } = "Hello World!";

	protected override int BuildHash() => System.HashCode.Combine( MyStringValue );

	public void ClickStart()
	{
		Log.Info("dsa");
	}

	public void ClickSettings()
	{
		Log.Info("dsa");
	}

	public void ClickExit()
	{
		Game.Close();
	}
}
